<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body
{
background-color:#e3e3ea;
}
h1
{
color:orange;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}
.BUTTON
{
	
}
</style>
<title>Untitled Document</title>
</head>

<body>
<table class="Table" cellspacing="1" width="560">
<caption class="TableCaption">
 <h1>Add new Task</h1>
</caption>
	<tbody>
		<tr>
			<td width="139" class="ColumnLabel">Title*</td>
			<td width="412" class="CellBGR3"><input name="code" size="9" type="text" ></td>
		</tr>
		<tr>
			<td class="ColumnLabel"> Start Date* </td>
			<td class="CellBGR3"><input name="planDate" size="9" maxlength="9"> 
		    (DD-MMM-YY) </td>
		</tr>
		
		<tr>
			<td class="ColumnLabel"> Finish Date </td>
			<td class="CellBGR3"><input name="rePlanDate" size="9" maxlength="9"> (DD-MMM-YY) </td>
		</tr>
		<tr>
			<td class="ColumnLabel"> Planned Effort </td>
			<td class="CellBGR3"><input name="rePlanDate" size="9" maxlength="9"> (Hours) </td>
		</tr>
		<tr>
			<td class="ColumnLabel"> Actual Effort </td>
			<td class="CellBGR3"><input name="rePlanDate" size="9" maxlength="9"> (Hours) </td>
		</tr>
		
        <tr>
			<td class="ColumnLabel"> Stage* </td>
			<td class="CellBGR3">
				<select name="cboStatus" size="1" style="width: 90">                    
                    <option selected="selected" value="-1">All stages</option>                    
                    <option value="1">Initiation</option>                    
                    <option value="2">Definition</option>                    
                    <option value="3">Solution</option>                    
                    <option value="4">Construction</option>   
                    <option value="0">Transition & Termination </option>                
               	 	</select>
			</td>
		</tr>
		
		<tr>
			<td class="ColumnLabel"> Process </td>
				<td class="CellBGR3">
					<select name="process">
						<option value="23">Administration</option>
						<option value="4">Coding</option>
						<option value="21">Collaborator Management</option>
						<option value="8">Configuration Management</option>
						<option value="1">Contract management</option>
						<option value="14">Correction</option>
						<option value="6">Customer Support</option>
						<option value="5">Deployment</option>
						<option value="3">Design</option>
						<option value="18">Document Control</option>
						<option value="24">Facility Management</option>
						<option value="19">IS Management</option>
						<option value="13">Internal Audit</option>
						<option value="15">Management Review</option>
						<option value="26">Other</option>
						<option value="28">Prevention</option>
						<option value="29">Process Improvement</option>
						<option value="9">Project Management</option>
						<option value="12">Quality Control</option>
						<option value="10">Quality Planning</option>
						<option value="16">Recruitment</option>
						<option value="2">Requirement</option>
						<option value="25">Retirement</option>
						<option value="20">Staff Management</option>
						<option value="22">Student Management</option>
						<option value="11">Subcontract Management</option>
						<option value="27">Technology management</option>
						<option value="7">Test</option>
						<option value="17">Training</option>
						
					</select>
				</td>
		</tr>
        <tr>
			<td class="ColumnLabel"> Product* </td>
			<td class="CellBGR3">
				<select name="cboStatus" size="1" style="width: 90">                    
                    <option selected="selected" value="-1">All Product</option>                    
                    <option value="1">LOC</option>                    
                    <option value="2">Report</option>                    
                    <option value="3">Document</option>                    
                    <option value="4">Test Case</option>   
                    <option value="0">Others</option>                
               	 	</select>
			</td>
		</tr>
        <tr>
			<td class="ColumnLabel"> Assigned To* </td>
			<td class="CellBGR3">
				<select name="assignedTo">
					<option value="118124">PNTG</option>
					<option value="1">SYSADMIN</option>
					
				</select>
			</td>
		</tr>
		<tr>
			<td class="ColumnLabel"> Status* </td>
			<td class="CellBGR3">
				<select name="assignedTo">                    
                    <option value="1">Closed</option>
                    
                    <option value="2">Cancelled</option>
                    
                    <option value="3">Tentative</option>
                    
                    <option selected="selected" value="0">On-going</option>
					
				</select>
			</td>
		</tr>
		<tr>
			<td class="ColumnLabel">Description</td>
			<td class="CellBGR3"><textarea rows="4" cols="50" name="note"></textarea></td>
		</tr>
	</tbody>
</table>
<p>
<input type="button" onClick="onOK();" name="ok" value=" OK " class="BUTTON">
<input type="button" name="cancel" value=" Cancel " class="BUTTON" onClick="doIt(3510);">
</p>

</body>
</html>
