.adminside_10_white { color:ffffff; font-weight:bold; font-size:10px; font-family:verdana,arial,helvetica,sans-serif; text-align:right; margin-right:5px; }
.adminfields_10_grey{ color:000000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; margin-left:5px; }
.adminheads_10{ color:000000; font-weight:bold; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; margin-left:8px; }
.admintitles{ color:000000; font-weight:bold; font-size:12px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.objectheads{ color:000000; font-weight:bold; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.pageheadswhite{ color:ffffff; font-weight:bold; font-size:12px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.objectcopy{ color:000000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.objectcopyred{ color:ff0000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.objectcopysmall{ color:000000; font-size:10px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.objectcopysmallBlack{ color:000000; font-size:10px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.maincopy{ color:000000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.maincopyheads{ color:000000; font-weight:bold; font-size:12px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.objectcopyblack{ color:000000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.contractcopy{ color:000000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.silver_10{ color:000000; font-size:10px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.contractcopybold{ color:000000; font-weight:bold; font-size:12px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.calendar_today{ color:000000; background-color:white; border:solid 2px ff6600; }
.calendar_otherdays{ color:000000; background-color:white; border:solid 1px 999999; }
.calendar_lighttext{ color:000000; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; background-color:white; }
.calendar_sectionheads {color: #333333; background-color: #ffffff; padding-top: 5px; padding-bottom: 2px}
.calendar_itemtext{ color:000000; font-size:9px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.contracttitles{ color:ffffff; font-size:11px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.contractcopybig{ color:ffffff; font-weight:bold; font-size:13px; font-family:Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
a:hover.textlinks{ color:000000; text-decoration:underline; }
a:hover.textlinksrev{ color:ffffff; text-decoration:underline; }
a:link.textlinks{ color:000000; text-decoration:underline; }
a:link.textlinksrev{ color:ffffff; text-decoration:none; }
a:hover.navbarlinks{ color:000000; text-decoration:underline; }
a:link.navbarlinks{ color:000000; text-decoration:none; }
.navbarlinks{ color:000000; text-decoration:none; }
.inactive_textlinks{ color:000000; text-decoration:none; }
.textlinks{ color:000000; text-decoration:underline; }
.textlinksrev{ color:000000; text-decoration:none; }
.fields{ color:000000; font-size:11px; font-family:Arial,Helvetica,Sans-serif; background-color:ffffff; border:solid 1px 000000; }
.fieldsdark{ color:000000; font-size:11px; font-family:Arial,Helvetica,Sans-serif; background-color:ffffff; border:none 0px 000000; }
.fieldsdark2{ color:000000; font-size:11px; font-family:Arial,Helvetica,Sans-serif; background-color:000000; border:none 0px 000000; }
.fieldsplain{ color:000000; font-size:11px; font-family:Arial,Helvetica,Sans-serif; }
.pagetitles{ color:000000; font-weight:normal; font-size:18px; font-family:Verdana,Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
.whitetitles{ color:ffffff; font-weight:normal; font-size:18px; font-family:Verdana,Arial,Helvetica,Geneva,Swiss,SunSans-Regular; }
td.adminside{ background-color:a9a9a9; padding:2px 0px; border-top:ffffff; border-bottom:1px solid c0c0c0; }
td.bordermain{ background-color:ddd; border-top:ffffff; border-bottom:c0c0c0; }
td.objectborders{ background-color:d3d3d3; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.contractborders{ background-color:696969; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.objectheadsbg{ background-color:f5f5f5; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.listheadsbg{ background-color:dedede; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.listheadsbg1{ background-color:efefef; border-top:medium none ffffff; border-bottom:medium none a9a9a9; }
td.objectbg{ background-color:ffffff; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.paneldark{ background-color:444444; }
td.panelblack{ background-color:000000; }
td.objecttablebg{ background-color:f5f5f5; }
td.objecttabledarkbg{ background-color:dddddd; }
td.objecteditbg{ background-color:f5f5f5; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.contractbg{ background-color:c0c0c0; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.contractbgtop{ background-color:808080; border-top:medium none ffffff; border-bottom:medium none c0c0c0; }
td.adminfields{ background-color:f5f5f5; padding:2px 0px; }
td.adminfieldsheads{ background-color:ededed; padding:2px 0px; }
td.adminfieldson{ background-color:eeeeee; padding:2px 0px; }
