
body
{
	margin: 0px;
	padding: 0px; /*background-image: url(images/stonbk_bg.jpg);*/
	color: #000000;
	background-color: #FFFFFF;
	font-family: Arial,Tahoma, Helvetica, sans-serif;
	font-size: 12px;
}

.UserNameLabel
{
	font-size: 15px;
	text-align: justify;
	color: #003300;
}

.ForgetPassButton
{
	width: 140px;
}
.Hyperlink
{
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
}

.UserName
{
	font-size: 12px;
	color: Red;
	}
body table
{
	font-size: 11px;
	text-align: justify;
	color: #003300;
}
/****-------PHATLH------*1.0*/
.TextBoxErrorMessage
{
    border: 2px solid Red;
}
.AdvancedErrorMessage
{
    background-color:Red;
    color:White;
    font-size:1.1em;
    text-align:center;
    padding:10px;
    font-weight:bold;
}
.AdvancedSuccessMessage
{
    background-color:#006600;
    color:White;
    font-size:1.1em;
    text-align:center;
    padding:10px;
}
.Center
{
    text-align:center;
}
.Right
{
    text-align:right;
}
.Left
{
    text-align:left;
}
.FloatLeft
{
    float:left;
}
.FloatRight
{
    float:right;
}
.Both
{
    clear:both;
}
.Note
{
    color:Blue;
    font-weight:bold;
}
.Hide
{
    display:none;
}
.Show
{
    display:block;
}
/****END PHATLH**/

/****-------VINGDLU------*1.0*/
.CommonControl fieldset
{
	margin: 0;
	padding: 0;
}
.CommonControl .BlockLevel select optgroup
{
	font-style: normal !important;
}
.CommonControl .BlockLevel select option
{
	text-align: left;
	padding: 0 0 0 10px;
}
.CommonSU label, .CommonSE label
{
	padding-right: 5px;
}
#SMASMainPage
{
	width: 100%;
}
.GridFull
{
	width: 100%;
}
.GridHalf
{
	width: 50%;
}
.GridFix
{
	width: 1000px;
	margin: 0 auto;
}
.MenuNav
{
	border: 0px; /*background: transparent url('images/header.png') repeat-x center center;*/
	margin: 0 0 2px 0;
}
#Footer
{
	margin-top: 4px;
}
.QuickMenu
{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
.QuickBg
{
	width: 998px;
	margin: 0 auto;
	padding: 2px 0;
	background: #CCCCCC url('images/quickmenubg.gif') repeat-x center top;
	border: solid 1px #CCCCCC;
	position: relative;
}
.QuickNav
{
	display: block;
	clear: both;
}
.QuickNav ul
{
	list-style: none;
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.QuickNav li
{
	padding-left: 17px;
	background: transparent url('../../images/menu/mitmplts.gif') no-repeat left 4px;
	float: left;
	width: 182px;
	padding-top: 3px;
	padding-bottom: 3px;
	overflow: hidden;
}
.QuickNav li a
{
	word-wrap: break-word;
	font-size: 11px;
}
.QuickNav li:hover, .QuickNav li.active
{
	background: transparent url('../../images/menu/misamples.gif') no-repeat left 3px;
}
.QuickNav li.active a
{
	color: #CC6600 !important;
}
.QuickIcon
{
	background: transparent url('images/QuickMenu.png') no-repeat 0 center;
	height: 20px;
	position: absolute;
	width: 110px;
	left: -110px;
	bottom: 0;
}
.relative
{
	position: relative;
}
.clear
{
	clear: both;
}
.hide
{
	display: none;
}
/*Quick Shortcuts Link*/
.QSItems
{
	width: 100%;
	display: block;
	clear: both;
}
.QSItems ul
{
	list-style: none;
	width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
}
.QSItems ul li
{
	display: block;
	width: 95%;
	overflow-x: hidden;
	background: url("../../images/menu/mitmplts.gif") no-repeat scroll left 3px transparent;
	padding-left: 16px;
}
.QSItems ul li.QSItem
{
	float: left;
	background: transparent url(images/QuickShortcuts.png) no-repeat left top;
	margin: 0 5px 0 0;
	padding-left: 0px;
}
.QSItems ul li.QSItem span
{
	line-height: 35px;
	font-size: 8pt;
	font-weight: bold;
	display: block;
	padding-left: 32px;
}
.home_tit
{
	border-bottom: dotted 1px green;
	font-weight: bold;
	margin: 5px 0;
	background: transparent url(images/rss.png) no-repeat left top;
	padding-left: 20px;
	line-height: 22px;
}
.tit2
{
	padding-left: 32px;
	background: transparent url(images/support.png) no-repeat left top !important;
}
.red
{
	color: Red;
}
#box_pop_sys_mess
{
	padding-bottom: 32px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#box_pop_sys_mess .bottom_box_arrow
{
	background: url("images/tooltip.png") no-repeat scroll 30px bottom transparent;
	width: 100px;
	height: 32px;
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	z-index: 12;
	display: block;
}
.box_mess_tit
{
	background: url("images/header.png") repeat-x scroll left center #CCCCCC;
}
/****END VINGDLU**/
BoxContent a, a:link, a:visited
{
    color: #003399;
    text-decoration: none; /*text-decoration:underline;*/ /*color:Black;*/ /*font-size: 14px;*/
}

BoxContent a:active, a:hover
{
	color: #CC6600;
	text-decoration: none;
	/*text-decoration:underline;*/
	/*font-size: 12px;*/
}
.tablestyle
{
	width: 100%;
}
.LinkButton
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin: 1px;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #000033;
	font-style: normal;
	font-variant: normal;
	border-right: #aca899 0px solid;
	border-top: #aca899 0px solid;
	border-left: #aca899 0px solid;
	border-bottom: #aca899 0px solid;
	border: 0px;
	vertical-align: middle;
	letter-spacing: normal;
	height: 14px;
}

/* Control asp.net style */
textarea, select
{
	font: 100% Arial, Helvetica, sans-serif; /* height: 22px;*/
}
input, TextBox
{
	font: 100% Arial, Helvetica, sans-serif;
	margin-left: 0px;
}
.dropdownlist
{
	z-index: 48;
}
.btStyle
{
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}
/* End control asp.net style */


/* MasterPage.master style */
.ToolBar
{
	font-weight: bold;
	height: 28px;
	padding-right: 5px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 11px;
}
.bgMenu
{
	width: 998px;
	height: 28px;
	text-align: left;
	background-image: url(  'images/header.png' );
	background-position: center;
	border: solid 1px #69A1BF;
}
.Banner
{
	width: 100%;
	height: 60px;
	background: transparent url(images/Banner.jpg) no-repeat center center;
}
.CaptionBackground
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.BoxContent
{
	border: solid 1px #AEAEAE;
	background-color: #F7F7F7;
	padding: 0 4px;
	height: 300px;
}
.FunctionName
{
	text-align: left;
	border-width: 1px 1px 0px 1px;
	border-color: #AEAEAE;
	border-style: solid;
	background-color: #f1f0ee;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
/* End masterPage.master style */

/*--------- block style -------------*/
.boxtitle
{
	font-weight: bold;
	color: #FFFFCC;
	font-size: 14px;
}
.mtitle
{
	font-weight: bold;
	font-size: 12px;
}

/* ------------- box corner -------------------*/
.vtt_conrertop
{
	background: url(../../images/vtt_boxbg.gif) repeat-x 0 -122px;
	height: 6px;
}
.vtt_conrer_top_left
{
	background: url(../../images/vtt_boxbg.gif) no-repeat -24px -42px;
	width: 6px;
	height: 6px;
	display: block;
	float: left;
}
.vtt_conrer_top_right
{
	background: url(../../images/vtt_boxbg.gif) no-repeat -18px -42px;
	width: 6px;
	height: 6px;
	display: block;
	float: right;
}

.vtt_conrertop_t
{
	background: url(../../images/vtt_boxbg.gif) repeat-x 0 -48px;
	height: 30px;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
}
.vtt_conrertopt_left
{
	background-image: url(images/leftheader.png);
	width: 3px;
	height: 32px;
	display: block;
	float: left;
}
.vtt_conrertopt_right
{
	background-image: url(images/rightheader.png);
	width: 3px;
	height: 32px;
	display: block;
	float: right;
}
.vtt_boxtitle
{
	background-image: url(images/headerGridBg.png);
	background-repeat: repeat;
	color: #FFFFCC;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 5px;
	border-bottom: #ccc 1px solid;
	line-height: 21px;
}
.vtt_conrer_ct
{
	background: #fff url(../../images/vtt_boxbg_ct.gif) repeat-x 0 100%;
	border-left: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding: 10px;
	height: 1%;
}

.vtt_conrer_ct1
{
	background: #fff url(../../images/vtt_boxbg_ct.gif) repeat-x 0 100%;
	padding: 10px;
	height: 1%;
}

.vtt_conrer_bot
{
	background: url(../../images/vtt_boxbg.gif) repeat-x 0 -117px;
	height: 6px;
	margin-bottom: 10px;
}
.vtt_conrer_bot_left
{
	background: url(../../images/vtt_boxbg.gif) repeat-x -24px -36px;
	height: 6px;
	width: 6px;
	display: block;
	float: left;
}
.vtt_conrer_bot_right
{
	background: url(../../images/vtt_boxbg.gif) repeat-x -18px -36px;
	height: 6px;
	width: 6px;
	display: block;
	float: right;
}
/* ------------- end box corner ---------------*/

.SuccessMessage
{
	font-size: 13px;
	text-align: center;
	color: #006600;
}
.WarningMessage
{
	font-weight: bold;
	padding-left: 14px;
	font-size: 12px;
	color: #006600;
	background: url(../../images/warning.gif) no-repeat;
}
.ErrorMessage
{
	font-size: 12px;
	color: #FF0000;
}
.SearchResult
{
	font-size: 11px;
	color: #FF0000;
	font-style: italic;
}
.textRight
{
	text-align: right;
}
.Title
{
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.LargeTitle
{
	color: Green;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
}

/* Style trang chu */
.h_Banner
{
	background-position: center;
	background-image: url(images/h_banner.jpg);
	width: 1000px;
	height: 225px;
	background-repeat: no-repeat;
}

.h_bg_Center
{
	background-position: center;
	background-image: url(images/h_bg_center.jpg);
	width: 1000px;
	height: 275px;
	background-repeat: no-repeat; /*padding-right: 200px;*/
	padding-right: 0px;
}

.h_bg_Bottom
{
	background-position: center;
	background-image: url(images/h_botom.jpg);
	width: 1000px;
	height: 100px; /*padding-left: 370px;*/
	padding-left: 200px;
	padding-top: 5px;
	font-size: 12px;
	color: #000000;
	background-repeat: no-repeat;
}
.loginText
{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.loginImage
{
	background: url(images/login.gif);
	width: 124px;
	height: 30px;
	border: 0;
	font-weight: bold;
	color: #000000;
	cursor: hand;
}

/* Ket thuc style trang chu */

/* Trang trong */
.bgMenu
{
	/*width: 1000px;*/
	height: 28px;
	padding-left: 0px;
}

.Bottom
{
	background: transparent url(images/botom.jpg) no-repeat center center;
	height: 100px;
	line-height: 50px;
	height: 50px;
	padding-left: 210px;
	padding-top: 5px;
	font-size: 12px;
	color: #000000;
}
.Padding
{
	padding-left: 15px;
}
.InputFile
{
	width: 350px;
	text-align: right;
}
.PnMark
{
	text-align: left;
}

.textMark
{
	border: 1px solid #C0C0C0;
	text-align: right;
	width: 90%;
	font-family: Times New Roman;
}


.Cursor
{
	border: 1px solid #336699;
	background: url(images/header.png) repeat-x center;
	height: 24px;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
	color: #000000;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.Cursor:hover
{
	border-color: #FF9900;
	background-position: center;
	background: url(images/HeaderHover.png) repeat-x center;
}
.Cursor[disabled]
{
	border-color: #999999;
	color: #999999;
}
/******************* Text box ******************/
.OnFocus
{
	background-color: #DCFFB9;
	color: #004400;
}
.OnError
{
	background-color: #FFBEAE;
	color: #004400;
}
body .inforLabel
{
	font-size: 12;
	font-weight: bold;
	color: #006600;
}

/*------------VINGDLU-2.0-------------*/
#table-data-binding
{
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #69A1BF;
	width: 100%;
	margin: auto;
}
#table-data-binding tr
{
	border-top: 1px solid #69A1BF;
	background: #fff;
}
#table-data-binding td, #table-data-binding th
{
	border-left: 1px solid #69A1BF;
	padding: 3px;
	vertical-align: middle;
}
#table-data-binding input[type=text]
{
	border: 1px solid #69A1BF;
	margin: 3px;
}
#table-data-binding .theader
{
	background: #A5CCFF url("images/header.png") repeat-x center center !important;
	font-weight: bold;
	color: #0F3366;
	width: 100px;
}
#table-data-binding tr.odd
{
	background: #F1F0EE;
}
#table-data-binding tr.even
{
	background: #D3DFEE;
}
#table-data-binding tbody tr:hover
{
	background: #FFE69E url("images/headerhover.png") repeat-x center top !important;
}
.textleft
{
	text-align: left;
}
.mytextLeft
{
	text-align: left !important;
}
.maincol
{
	width: 20%;
}
.textcenter
{
	text-align: center;
}

.myCursor
{
	background: url("images/header.png") repeat-x scroll center center transparent;
	border: 1px solid #336699;
	border-radius: 4px 4px 4px 4px;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	height: 24px;
	vertical-align: middle;
}
.myCursor:hover
{
	background: url("images/headerhover.png") repeat-x scroll center center transparent;
}
/*---VINGDLU 3.0---*/
.ajxWaitExport
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.ajxCoverExport
{
	z-index: 1000;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: Gray;
	filter: alpha(opacity=60);
	opacity: 0.60;
}
.ajxloadingExport
{
	position: absolute;
	width: 100%;
	background: transparent url(../../images/loading_bg.png) no-repeat center center;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1001;
}
.textloadingExport
{
	position: relative;
	width: 321px;
	height: 55px;
	margin: auto;
	padding-left: 170px;
	color: #003300;
	font-family: Arial;
	font-size: 11px;
	text-align: justify;
}
.textloadingExport img
{
	position: relative;
	top: 5px;
}

.noHand
{
	cursor:default !important;
}

#box_pop_sys_mess
{
    z-index: 10000 !important;
}