<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="Resource_files/StyleSheet.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
  <div class="header">
  <table width="1200">
  	<tr >
    	<td width="916" height="92">&nbsp;</td>
        <td width="272" valign="top">
        	<p>Hello Manager , <a href="HomePage.html">Log Out</a>
        </p>
       	<p><a href="UserDetail.html">Change your Information</a></br>
        <a href="Create Project.html">Create new Project</a>
        </p></td>
    </tr>
  </table>
  </div>
  <div class="content">
    <div id="menu">      
    <ul>    
    <li><a href="Dashboard.htm"><span>Dash Board</span></a></li>
    <li><a><span>Time Sheet</span></a></li>
    <li><a href="TaskManager.htm"><span>Project Planner</span></a></li>
    <li><a><span>DMS</span></a></li>
    <li><a><span>Report</span></a></li>
    <li><a href="RiskIssue.html"><span>Risk, Issue</span></a></li>
    <li><a href="ChangeRequest.html"><span>Change Request</span></a></li>
    <li><a href="Cost.html"><span>Cost</span></a></li>
    <li><a><span>Requiment</span></a></li>
    <li><a href="Product.html"><span>Product</span></a></li>
    <li><a href="WorkOrder.html"><span>Work Order</span></a></li> 
    </ul>
</div>
	<div id="content_projectinfo">
    <p><table width="95%" cellspacing="1">
    <tbody>
      <tr>
        <td width="25%">Project Manager</td>
        <td width="75%">David</td>
      </tr>
      <tr>
        <td>Project Status</td>
        <td>Ongoing</td>
      </tr>
      <tr>
        <td>Project Code</td>
        <td>PA</td>
      </tr>
      <tr>
        <td>Project Name</td>
        <td>Project A</td>
      </tr>
      <tr>
        <td>Project Type</td>
        <td>Product Maintainance</td>
      </tr>
      <tr>
        <td>Direct Customer</td>
        <td>Samatha</td>
      </tr>
      <tr>
        <td>End Customer</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Business Domain</td>
        <td>Universities</td>
      </tr>
      <tr>
        <td>Planned Start Date</td>
        <td>5/23/2012          (mm-dd-yyyy)</td>
      </tr>
      <tr>
        <td>Planned End Date* </td>
        <td>12/23/2012          (mm-dd-yyyy)</td>
      </tr>
      <tr>
        <td>Plan effort</td>
        <td>1PersonDay</td>
      </tr>
      <tr>
        <td>Actual Effort</td>
        <td>1PersonDay</td>
      </tr>
      <tr>
        <td>Scope and Objective</td>
        <td>sadadasdasdasdsasdsadsadsadas</td>
      </tr>
      <tr>
        <td>Project size</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Progress</td>
        <td>15%</td>
      </tr>
      <tr>
        <td>Time Spent</td>
        <td>15/120</td>
      </tr>
      <tr>
        <td>Cost Expense/Budget</td>
        <td><a href="Cost.html">200.000/1.000.000$</a></td>
      </tr>
      <tr>
        <td>Risk,Issue</td>
        <td><a href="RiskIssue.html">5</a></td>
      </tr>
      <tr>
        <td>Change request</td>
        <td><a href="ChangeRequest.html">5</a></td>
      </tr>
      <tr>
        <td>Business Domain</td>
        <td>Education</td>
      </tr>
            <tr>
        <td>Project Health</td>
        <td><img src="Resource_files/icons/circle_green.png" width="24" height="24"></td>
      </tr>
      <tr>
        <td>Project evaluation</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
    <h3>&nbsp;</h3>
    <h3>Contacts</h3>
     <table width="588" border="1">
  <tr>
    <th width="51" scope="col">Name</th>
    <th width="136" scope="col">Email</th>
    <th width="110" scope="col">Phone</th>
    <th width="141" scope="col">Organization</th>
  </tr>
  <tr>
    <td>David</td>
    <td>David@mail.com</td>
    <td>08909898908</td>
    <td>&nbsp;</td>
  </tr>
</table>
  </p>
<p>
  		<a href="ChangeProjectInfo.html">Change Project Info</a><br/>
    	<a href="ProjectModuleControlPage.html">Modules Management</a><br/>
        <a href="ProjectUserManagementPage.html">Team Management</a>   
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
 </div>
  <!-- end .content --></div>
  <div class="footer">
    <p>OOPMS Group</p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>
