body.bg { margin-top: 0; }
div.container { width: 100%; }
#header.loggedin { height: 100px; border-bottom: 1px solid #555; }
div#topsearch, div#toolbar, div#toolbar.loggedin, div#navigation, #topbar, div.headingright, div.tabs ul.innernav, .button, div#footer { display: none; }
table.default th, ul.items li.header div.sections { border-bottom: 1px solid #555; border-top: 1px solid #555; color: 000; }
div#tpl-calendar .calendar .day a.eventlink { font-size: 10px; line-height: 1em; }