.up {
font-family: Verdana,sans-serif;
background: 
darkGray;
background-image: -moz-linear-gradient(top,
#C3C3C3,
#8F8F8F);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,
#C3C3C3),color-stop(1,
#8F8F8F));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c3c3c3', EndColorStr='#8f8f8f')";
background-image: linear-gradient(top,
#C3C3C3,
#8F8F8F);
color: 
#444;
}

.fl-theme-mist, .fl-theme-mist.fl-preview-theme {
color: 
black;
background-color: 
#F4F4F4;
border-color: 
#4070A1;
}

#portalPageBodyInner {
padding: 2.5em 12px;
background: white;
 width: 1024px;
    height: auto;
    position: relative;
	   margin-left: auto;

    margin-right: auto;
}

body    {   
    position: relative;
	font-family: Verdana,sans-serif;
color: #444;
}

 

#bodyCenter {
	
    width: 1024px;

    height: auto;

    position: relative;

    margin-left: auto;

    margin-right: auto;

}
label#mainLabel {
font-size:15px; font-weight: bold;
color: #1C94C4;
}

table#mainTable {
    border-collapse: collapse;   
}
#mainTable tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#mainTable th:hover {
    background: #5A95CF; 
}
#mainTable tr:hover {
    background: #F39814; color: white;
}
#mainTable th {
    background-color:#EB8F00;
color: #fff;
font-size: 85%;
padding: 1px 1em;
text-align: left;
}
#mainTable th, #mainTable td {
    padding: 3px 5px;
}
#mainTable td:hover {
    cursor: pointer;
}
.selected td {
       background: #F39814; color: white;
}

input[type="text"] {
padding: .2em .4em;
line-height: 1.4;
background: 
white;
box-shadow: 0 1px 4px 
rgba(0, 0, 0, 0.2) inset;
-moz-border-radius: .6em;
-webkit-border-radius: .6em;
border-radius: .6em;
}

input[type="button"] {
border-color: 
#294D6B;
background: 
steelBlue;
color: 
white;
text-shadow: 0 -1px 1px 
rgba(0, 0, 0, 0.7);
background-image: -moz-linear-gradient(top,
steelBlue,
#294D6B);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,
steelBlue),color-stop(1,
#294D6B));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
background-image: linear-gradient(top,
steelBlue,
#294D6B);
}

#navigationList {
text-align: left;
border: 0;
margin: 0 0 0 25px;
zoom: 1;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
	font-family: Lucida Sans Unicode,Lucida Grande,sans-serif
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 118px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}

#tabs28 {   float:left;   width:100%;   background:#444;   font-size:93%;   line-height:normal; border-bottom:1px solid #DD740B;   }
#tabs28 ul { margin:0; padding:0px 10px 0 20px; list-style:none;   } 
#tabs28 li {   display:inline;   margin:0;   padding:0;   } 
#tabs28 a {   float:left;   background:url(slide-left.gif) no-repeat left top;   margin:0;   padding:0 0 0 5px;   text-decoration:none;   } 
#tabs28 a span {   float:left;   display:block;   background:url(side-right.gif) no-repeat right top;   padding:5px 15px 4px 6px;   color:#FFF;   } 
#tabs28 a span {float:none;}  #tabsI a:hover span {   color:#FFF;   } #tabs28 a:hover {   background-position:0% -42px;   } 
#tabs28 a:hover span {   background-position:100% -42px;   }