<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">fmsuser</property>
    <property name="hibernate.connection.password">fmsuser</property>
    <property name="hibernate.default_schema">FMSUSER</property>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property> 
    <mapping resource="openones/oopms/entity/Page.hbm.xml"/>
    <mapping resource="openones/oopms/entity/WpSize.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Groups.hbm.xml"/>
    <mapping resource="openones/oopms/entity/FinancialPlan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectDistributionByProcess.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TeamEvaluation.hbm.xml"/>
    <mapping resource="openones/oopms/entity/LanguageCode.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProcessWpMapping.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Workunit.hbm.xml"/>
    <mapping resource="openones/oopms/entity/RiskSourceMitigation.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProductLocActual.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Module.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Holiday.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Assignment.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Subcontract.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectPriority.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Project.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Approval.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectType.hbm.xml"/>
    <mapping resource="openones/oopms/entity/QoStrategyForMeeting.hbm.xml"/>
    <mapping resource="openones/oopms/entity/UserProfile.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Pcb.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Stage.hbm.xml"/>
    <mapping resource="openones/oopms/entity/OtherAssignment.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Language.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Planning.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TrainingPlan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/MetricDes.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectPermission.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Iteration.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Process.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Metrics.hbm.xml"/>
    <mapping resource="openones/oopms/entity/RiskSource.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Staffs.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ActivityType.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ReviewStrategy.hbm.xml"/>
    <mapping resource="openones/oopms/entity/QcActivity.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProductIntegrationStrategy.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectAttachment.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Timesheet.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Help.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectTailoring.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Openissue.hbm.xml"/>
    <mapping resource="openones/oopms/entity/EstDefect.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Conversion.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Workproduct.hbm.xml"/>
    <mapping resource="openones/oopms/entity/GeneralReference.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Interface.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Nchistory.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectCost.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Rightgroup.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Tailoring.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectArchive.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TimesheetOldData.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectArchive.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Typeofwork.hbm.xml"/>
    <mapping resource="openones/oopms/entity/CusMetrics.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Issue.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ReqChangesMng.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Defect.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Metricgroup.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ApplicationType.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectDeviation.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Milestone.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProductLocPlan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Kpa.hbm.xml"/>
    <mapping resource="openones/oopms/entity/MeasurementsProgram.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectHistory.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Dependencies.hbm.xml"/>
    <mapping resource="openones/oopms/entity/CommunicationReport.hbm.xml"/>
    <mapping resource="openones/oopms/entity/FurtherWork.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Ncconstant.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Ncview.hbm.xml"/>
    <mapping resource="openones/oopms/entity/RiskCategory.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectDatabase.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectStatus.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Normplan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/References.hbm.xml"/>
    <mapping resource="openones/oopms/entity/PlansQcStage.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectArchiveHistory.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Constraints.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Reportcomments.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Tools.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TimesheetExemption.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Developer.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ContractType.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Nc.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Risk.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Customer.hbm.xml"/>
    <mapping resource="openones/oopms/entity/RiskContigency.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectPlan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TimesheetArchive.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TestStrategy.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Team.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ProjectSchedule.hbm.xml"/>
    <mapping resource="openones/oopms/entity/EstimationMethod.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ApSizeunit.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DarPlan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectQuery.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Requirements.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Organization.hbm.xml"/>
    <mapping resource="openones/oopms/entity/RiskMitigation.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ReferenceData.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Practices.hbm.xml"/>
    <mapping resource="openones/oopms/entity/HolidayType.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Responsibility.hbm.xml"/>
    <mapping resource="openones/oopms/entity/Lifecycle.hbm.xml"/>
    <mapping resource="openones/oopms/entity/TailoringDeviation.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ArchiveActualEffortByType.hbm.xml"/>
    <mapping resource="openones/oopms/entity/DefectSeverity.hbm.xml"/>
    <mapping resource="openones/oopms/entity/CusPoint.hbm.xml"/>
    <mapping resource="openones/oopms/entity/ChangesOfProjectPlan.hbm.xml"/>
    <mapping resource="openones/oopms/entity/WeeklyEffort.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
